@font-face {
  font-family: "CircularStd";
  src: url(fonts/CircularStd-Bold.woff2);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url(fonts/CircularStd-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url(fonts/CircularStd-Book.woff2);
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #f8f9fa;
  --secondary-text: #ced4da;
  --form-label: #adb5bd;
  --input-text: #6c757d;
  --secondary-bg: #30363c;
  --primary-bg: #212529;
  --secondary: #0d6efd;
  --blue-light: #6ea8fe;
  --blue-dark: #0044c9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--primary-bg);
  font-family: "CircularStd", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--primary);
  min-width: 280px;
  overflow-x: hidden;
}

input,
button {
  font-family: "CircularStd", sans-serif;
  font-weight: 500;
  transition: all 280ms;
}

a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  transition: all 280ms;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--secondary-text);
  font-size: clamp(1rem, 2vw, 1.25rem);
  transition: all 280ms;
  width: clam(45ch, 50%, 75ch);
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "CircularStd", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  transition: all 280ms;
  letter-spacing: -0.5px;
}

h1 {
  font-size: clamp(3rem, 6vw, 4.5rem);
}

h2 {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
}

h3 {
  font-size: clamp(2rem, 3.5vw, 3rem);
}

h4 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
}

h5 {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
}

small,
.text_small {
  font-size: clamp(0.875rem, 2vw, 1rem);
}

/* buttons components */

.btn-primary {
  padding: 16px 32px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4rem;
  background: var(--secondary);
  transition: all ease-in-out 260ms;
}

.btn-primary:hover {
  padding: 16px 32px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4rem;
  background: var(--blue-dark);
  transition: all ease-in-out 260ms;
}

.btn-small {
  padding: 8px 16px;
  font-size: 14px;
  text-decoration: none;
  border: 2px solid var(--primary);
  border-radius: 4rem;
  transition: all ease-in-out 260ms;
}

.btn-small:hover {
  padding: 8px 16px;
  font-size: 14px;
  text-decoration: none;
  background: var(--blue-dark);
  border: 2px solid var(--blue-dark);
  border-radius: 4rem;
  transition: all ease-in-out 260ms;
}

.link-wrapper {
  display: inline-block;
}

/* buttons components ends */

/* style starts here */

.section-nav {
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 1rem;
  background: rgba(33, 37, 41, 0.72);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.container-nav {
  max-width: 1920px;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  padding: 64px 24px;
  overflow: hidden;
}

.container {
  max-width: 1120px;
  margin: auto;
  position: relative;
}

.content-grid {
  display: grid;
  grid-row: 1;
  gap: 48px;
}

.content-wrapper {
  max-width: 480px;
}

article {
  margin-bottom: 3rem;
}

/* image starts here */

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.asset-animate {
  width: 85%;
  position: absolute;
  z-index: -1;
  right: -20%;
  top: -50%;
  display: none;
}

.asset {
  width: 100%;
  height: auto;
}

.hero-img {
  width: 100%;
  height: auto;
}

/* image ends here */

.content-copyright {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.section-copyright {
  padding: 1.5rem;
}

.btn-primary-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.circle-border {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid var(--primary);
  border-radius: 4rem;
}

.scroll-down {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content-form {
  padding: 48px 24px 24px 24px;
  background: var(--secondary-bg);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--secondary-bg);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--primary-bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--input-text);
}
