@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");

:root {
  --primary: #f8f9fa;
  --secondary-text: #ced4da;
  --form-label: #adb5bd;
  --input-text: #6c757d;
  --secondary-bg: #30363c;
  --primary-bg: #212529;
  --secondary: #0d6efd;
  --blue-light: #6ea8fe;
  --blue-dark: #0044c9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--primary-bg);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--primary);
  min-width: 256px;
}

input,
button {
  font-weight: 500;
  transition: all 300ms;
}

a {
  display: inline-block;
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  transition: all 300ms;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--secondary-text);
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  transition: all 300ms;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  transition: all 300ms;
}

h1 {
  font-size: clamp(3rem, 10vw, 4.5rem);
}

h2 {
  font-size: clamp(2.5rem, 9vw, 3.5rem);
}

h3 {
  font-size: clamp(2rem, 8vw, 3rem);
}

h4 {
  font-size: clamp(1.5rem, 7vw, 2.25rem);
}

h5 {
  font-size: clamp(1.25rem, 6vw, 1.75rem);
}

small,
.text_small {
  font-size: clamp(0.875rem, 2.5vw, 1rem);
}

.btn-primary {
  display: inline-block;
  padding: 16px 32px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4rem;
  background: var(--secondary);
  transition: all ease-in-out 260ms;
}

.btn-primary:hover {
  display: inline-block;
  padding: 16px 32px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4rem;
  background: var(--blue-dark);
  transition: all ease-in-out 260ms;
}

.btn-small {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  text-decoration: none;
  border: 2px solid var(--primary);
  border-radius: 4rem;
  transition: all ease-in-out 260ms;
}

.btn-small:hover {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  text-decoration: none;
  background: var(--blue-dark);
  border: 2px solid var(--blue-dark);
  border-radius: 4rem;
  transition: all ease-in-out 260ms;
}

/* style starts here */

.section {
  padding: 48px 24px;
}

.section-nav {
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 12px 24px;
  background-color: var(--primary-bg);
}

.container {
  max-width: 1120px;
  margin: auto;
}

.content-grid {
  display: grid;
  grid-row: 1;
  gap: 48px;
}

.container-nav {
  max-width: 1920px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subheader {
  margin-bottom: 32px;
}

.submit-btn {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.btn-submit {
  font-family: inherit;
  padding: 1rem;
  color: var(--primary);
  background: var(--secondary);
  font-size: 16px;
  margin-bottom: 0;
  border: none;
  border-radius: 4rem;
}

.btn-submit:hover {
  font-family: inherit;
  padding: 1rem;
  color: var(--primary);
  background: var(--blue-dark);
  font-size: 16px;
  margin-bottom: 0;
  border: none;
  border-radius: 4rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

.chckbox {
  display: flex;
  gap: 12px;
  width: 100%;
}

.marketing {
  font-weight: 700;
}

.consent {
  font-size: 12px;
}

label {
  font-size: inherit;
  margin-bottom: 4px;
}

input {
  font-family: inherit;
  color: var(--input-text);
  font-size: 16px;
  padding: 1rem;
  width: 100%;
  background: var(--primary);
  border: none;
  border-radius: 8px;
  appearance: none;
}

.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.asset {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.section-copyright {
  padding: 1.5rem;
}
