/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 425px) {
  .content-form {
    padding: 48px 32px 32px 32px;
  }
}

@media only screen and (min-width: 600px) {
  .section {
    padding: 64px 48px;
  }

  .content-form {
    padding: 52px 40px 40px 40px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: center;
  }

  .content-copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .feature-1,
  .feature-3 {
    order: 2;
  }

  .content-grid-end {
    justify-items: end;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  .section {
    padding: 72px 64px;
  }

  .section-copyright {
    padding: 16px 32px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .section {
    padding: 96px 48px;
  }

  .content-form {
    padding: 64px 52px 52px 52px;
  }

  .section-nav {
    padding: 16px 24px 8px 24px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: auto;
  }
}
