@media only screen and (max-width: 600px) {
  .section-nav {
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 425px) {
  .content-form {
    padding: 48px 32px 32px 32px;
  }
}

@media only screen and (min-width: 600px) {
  .section {
    padding: 64px 48px;
  }

  .content-form {
    padding: 52px 40px 40px 40px;
  }
}

@media only screen and (min-width: 768px) {
  .content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: center;
  }

  .content-copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .feature-1,
  .feature-3 {
    order: 2;
  }

  .content-grid-end {
    justify-items: end;
  }
}

@media only screen and (min-width: 1024px) {
  .section {
    padding: 120px 64px;
  }
}

@media only screen and (min-width: 1200px) {
  .asset-animate {
    display: block;
  }

  .square-hide {
    display: none;
  }

  .section {
    padding: 160px 64px;
  }

  .content-form {
    padding: 64px 52px 52px 52px;
    max-width: 480px;
  }

  .section-nav {
    padding: 16px 24px 8px 24px;
  }
}
